xml/esquema3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="complejo" >
			<xs:complexType >
				<xs:choice>
					<xs:element name="a" type="xs:string" />
					<xs:element name="b" type="xs:string" />
					<xs:element name="c" type="xs:string" />
				</xs:choice>
			</xs:complexType>
		</xs:element>
</xs:schema>
